.heading_style{
    background-color: red;
    width: 100%;
    color: white;
}
#th_color{
    background-color:gray;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid black;
    text-align: center;
    padding: 8px;
  }
  